<script>
<% 
categories = logged_user.subcategories.group_by(&:category).map do |category, subcategories|
  subcategories = subcategories.map { |subcategory| "{'id': #{subcategory.id}, 'name': '#{subcategory.name}'}" }
  subcategories_string = subcategories.join(', ');
  "'#{category.id}': [#{subcategories_string}]"
end
js_object = "{ #{categories.join(', ')} }";
%>
subcategories = <%= js_object %>;

function onExpenseCategoryChanged(){
  var categorySelect = document.getElementById("expenseCategory");
  var selectedCategoryId = categorySelect.options[categorySelect.selectedIndex].value;
  var subcategorySelect = document.getElementById("expenseSubcategory");
  while(subcategorySelect.length != 0) {
    subcategorySelect.remove(0);
  }

  for(var i = 0; i < subcategories[selectedCategoryId].length; ++i) {
    var option = document.createElement("option");
    option.value = subcategories[selectedCategoryId][i].id;
    option.text = subcategories[selectedCategoryId][i].name;
    subcategorySelect.add(option);
  }
}

window.onload = onExpenseCategoryChanged;
</script>
<div class="col-md-8">
  <%= erb :'partials/expense_list.html', locals: { base_url: "/profile", expenses: @expenses } %>
</div>
<div class="col-md-4">
<div class="row">
  <div class="panel panel-primary">
  <div class="panel-heading">Add new expense</div>
    <div class="panel-body">
    <% if logged_user.categories.empty? %>
      <div class="alert alert-info text-center">
        You currently have no categories! You can add more categories from the <%= to_link "/categories", "<b>manage categories section.</b>" %>
      </div>
    <% else %>
      <form method="post" action="/profile/add-expense">
        <% if @expense_error_message %>
        <div class="alert alert-danger text-center"><%= @expense_error_message %></div>
        <% end %>
        <% if @expense_success_message %>
        <div class="alert alert-success text-center"><%= @expense_success_message %></div>
        <% end %>
        <div class="form-group">
        <label for="expenseCategory">Category:</label>
        <select name="expenseCategory" id="expenseCategory" onChange="onExpenseCategoryChanged()" onLoad="onExpenseCategoryChanged()">
          <% logged_user.categories.each do |category| %>
            <option <%= "value='#{category.id}'"%>><%= category.name %></option> %>
          <% end %>
        </select>
        </div>
        <div class="form-group">
        <label for="expenseCategory">Sub-category:</label>
        <select name="expenseSubcategory" id="expenseSubcategory">
        </select>
        </div>
        <div class="form-group">
        <label for="expenseAmmount">Ammount:</label>
        <input type="text" class="form-control" id="expenseAmmount" name="expenseAmmount" />
        </div>
        <div class="form-group">
        <label for="expenseDescription">Description:</label>
        <textarea class="form-control" id="expenseDescription" name="expenseDescription"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Add expense" />
      </form>
    <% end %>
    </div>
  </div>
</div>
</div>