<script>
<% 
categories = logged_user.subcategories.group_by(&:category).map do |category, subcategories|
  subcategories = subcategories.map { |subcategory| "{'id': #{subcategory.id}, 'name': '#{subcategory.name}'}" }
  subcategories_string = subcategories.join(', ');
  "'#{category.id}': [#{subcategories_string}]"
end
js_object = "{ #{categories.join(', ')} }";
%>
subcategories = <%= js_object %>;

function onExpenseCategoryChanged(){
  var categorySelect = document.getElementById("expenseCategory");
  var selectedCategoryId = categorySelect.options[categorySelect.selectedIndex].value;
  var subcategorySelect = document.getElementById("expenseSubcategory");
  while(subcategorySelect.length != 0) {
    subcategorySelect.remove(0);
  }

  for(var i = 0; i < subcategories[selectedCategoryId].length; ++i) {
    var option = document.createElement("option");
    option.value = subcategories[selectedCategoryId][i].id;
    option.text = subcategories[selectedCategoryId][i].name;
    subcategorySelect.add(option);
  }
}

function deleteExpense(id) {
  $.ajax({
        method: "GET",
        url: "/profile/delete-expense?id=" + id,
        success: function() {
          document.getElementById("expenseRow" + id).remove();
        }
      })
}

window.onload = onExpenseCategoryChanged;
</script>
<div class="col-md-8">
  <div class="panel panel-primary">
    <div class="panel-heading">Last expenses</div>
    <div class="panel-body">
      <% if @expenses.count.zero? %>
        <div class="alert alert-info text-center">You currently have no expenses</div>
      <% else %>
        <table class="table table-striped table-hover vertical-middle">
          <thead>
            <tr>
              <th class="text-center" width="150">Date</th>
              <th class="text-center">Category</th>
              <th class="text-center">Subcategory</th>
              <th class="text-center">Ammount</th>
              <th class="text-center">Description</th>
              <th class="text-center">Delete</th>
            </tr>
          </thead>
          <tbody>
            <% @expenses.to_a.each do |expense| %>
              <tr <%= "id='expenseRow#{expense.id}'" %>>
                <td class="text-center"><%= expense.date.strftime("%e-%m-%Y %H:%M:%S") %></td>
                <td class="text-center"><%= expense.subcategory.category.name %></td>
                <td class="text-center"><%= expense.subcategory.name %></td>
                <td class="text-center"><%= format_currency_string expense.ammount %></td>
                <td class="text-center"><%= expense.description %></td>
                <td class="text-center"><%= to_link "javascript: deleteExpense(#{expense.id})", (glyphicon_span "remove") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= erb :'pagination.html', :locals => {:shown_results => @expenses , :base_url => "/profile"} %>
      <% end %>
    </div>
  </div>
</div>
<div class="col-md-4">
<div class="row">
  <div class="panel panel-primary">
  <div class="panel-heading">Add new expense</div>
    <div class="panel-body">
    <% if logged_user.categories.empty? %>
      <div class="alert alert-info text-center">
        You currently have no categories! You can add more categories from the <%= to_link "/categories", "<b>manage categories section.</b>" %>
      </div>
    <% else %>
      <form method="post" action="/profile/add-expense">
        <% if @expense_error_message %>
        <div class="alert alert-danger text-center"><%= @expense_error_message %></div>
        <% end %>
        <% if @expense_success_message %>
        <div class="alert alert-success text-center"><%= @expense_success_message %></div>
        <% end %>
        <div class="form-group">
        <label for="expenseCategory">Category:</label>
        <select name="expenseCategory" id="expenseCategory" onChange="onExpenseCategoryChanged()" onLoad="onExpenseCategoryChanged()">
          <% logged_user.categories.each do |category| %>
            <option <%= "value='#{category.id}'"%>><%= category.name %></option> %>
          <% end %>
        </select>
        </div>
        <div class="form-group">
        <label for="expenseCategory">Sub-category:</label>
        <select name="expenseSubcategory" id="expenseSubcategory">
        </select>
        </div>
        <div class="form-group">
        <label for="expenseAmmount">Ammount:</label>
        <input type="text" class="form-control" id="expenseAmmount" name="expenseAmmount" />
        </div>
        <div class="form-group">
        <label for="expenseDescription">Description:</label>
        <textarea class="form-control" id="expenseDescription" name="expenseDescription"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" value="Add expense" />
      </form>
    <% end %>
    </div>
  </div>
</div>
</div>